<form action="/restaurants/create" method="POST">
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">
        {{> message}}

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fa-solid fa-shop"></i>
            店名：
          </span>
          <input type="text" placeholder="請輸入餐廳名稱" name="name" class="form-control" value="{{name}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fa-solid fa-shop"></i>
            英文店名：
          </span>
          <input type="text" placeholder="請輸入餐廳英文名稱" name="name_en" class="form-control" value="{{name_en}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary align-middle">
            <i class="fa-solid fa-utensils"></i>
            類別：
          </span>
          <input type="text" placeholder="請輸入餐廳類別" name="category" class="form-control" value="{{category}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fa-solid fa-location-dot"></i>
            地址：
          </span>
          <input type="text" placeholder="請輸入餐廳地址" name="location" class="form-control" value="{{location}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fa-solid fa-location-arrow"></i>
            Google Map：
          </span>
          <input type="url" placeholder="請輸入餐廳的google map連結" name="google_map" class="form-control"
            value="{{google_map}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fa-solid fa-star"></i>
            Rating：
          </span>
          <input type="number" step="0.1" min="0" max="5" placeholder="請輸入餐廳評分" name="rating" class="form-control"
            value="{{rating}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fa-solid fa-mobile-screen-button"></i>
            電話：
          </span>
          <input type="tel" placeholder="請輸入餐廳電話" name="phone" class="form-control" pattern="[0-9+- ]*"
            value="{{phone}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fa-solid fa-image"></i>
            圖片連結：
          </span>
          <input type="url" placeholder="請輸入餐廳圖片連結" name="image" class="form-control" value="{{image}}">
        </div>

        <div class="input-group mb-3">
          <textarea type="text" placeholder="請輸入餐廳簡介" name="description" class="form-control">{{description}}</textarea>
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-secondary mb-5">Save</button>
        </div>

      </div>
    </div>
  </div>
</form>