<form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fas fa-store-alt"></i>
            店名：
          </span>
          <input type="text" placeholder="請輸入餐廳名稱" name="name" class="form-control" value="{{restaurant.name}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fas fa-store-alt"></i>
            英文店名：
          </span>
          <input type="text" placeholder="請輸入餐廳英文名稱" name="name_en" class="form-control" value="{{restaurant.name_en}}">
        </div>

        <div class="input-group  mb-3">
          <span class="text-secondary align-middle">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </span>
          <input type="text" placeholder="請輸入餐廳類別" name="category" class="form-control" value="{{restaurant.category}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </span>
          <input type="text" placeholder="請輸入餐廳地址" name="location" class="form-control" value="{{restaurant.location}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fas fa-location-arrow pr-2 fa-xs"></i>
            Google Map：
          </span>
          <input type="url" placeholder="請輸入餐廳的google map連結" name="google_map" class="form-control"
            value="{{restaurant.google_map}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fas fa-star fa-xs"></i>
            Rating：
          </span>
          <input type="text" placeholder="請輸入餐廳評分" name="rating" class="form-control" value="{{restaurant.rating}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </span>
          <input type="tel" placeholder="請輸入餐廳電話" name="phone" class="form-control" value="{{restaurant.phone}}">
        </div>

        <div class="input-group mb-3">
          <span class="text-secondary">
            <i class="fas fa-image pr-2"></i>
            圖片連結：
          </span>
          <input type="url" placeholder="請輸入餐廳圖片連結" name="image" class="form-control" value="{{restaurant.image}}">
        </div>

        <div class="input-group mb-3">
          <textarea type="text" placeholder="請輸入餐廳簡介" name="description"
            class="form-control">{{restaurant.description}}</textarea>
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-secondary mb-5">Save</button>
        </div>

      </div>
    </div>
  </div>
</form>