<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <span class="badge badge-pill badge-danger font-weight-normal mb-3">
        {{restaurant.rating}}
        <i class="fa-solid fa-star"></i>
      </span>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fa-solid fa-utensils"></i>
          類別：
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fa-solid fa-location-dot"></i>
          地址：
        </span>
        {{restaurant.location}}
        <a href="{{restaurant.google_map}}" class="text-secondary" target="_blank">
          <i class="fa-solid fa-location-arrow"></i>
        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fa-solid fa-mobile-screen-button"></i>
          電話：
        </span>
       {{restaurant.phone}}
      </p>

      <p class="mb-5">
        {{restaurant.description}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100"
        src="{{restaurant.image}}" alt="{{restaurant.name}}"
        style="max-width: 600px;">

      <div class="d-flex justify-content-end mb-5">
        <a href="/restaurants/{{restaurant._id}}/edit" class="btn btn-link mr-3">Edit</a>
        <a href="/" class="btn btn-link mr-3">Back</a>
        <form action="/restaurants/{{restaurant._id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>